/*
=================================================================================================
======================== Start Custom Style For TheBrand.php page ===============================
=================================================================================================
*/
header{height: 105px; background-color: #F8F8F8;}
header .navbar-menu .background{display: none}
header .navbar-menu .overlay .shop-mens{display: none;}

/*
=================================================================================================
========================== End Custom Style For TheBrand.php page ===============================
=================================================================================================
*/

@media(max-width: 767px){
    header{
        height: 90px;
    }
}